<section class="wrapper">
    <app-menu></app-menu>
    <div class="main-container">
        <div class="header-container">
                <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
              
                        <button class="btn" type="button" appSidebarToggle>
                                <span class=""><fa-icon [icon]="faAlignLeft"></fa-icon></span>
                        </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                
                            </li>
                            <li class="nav-item">
                            
                            </li>
                            <li class="nav-item dropdown">
                            
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" ngbDropdown>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" ngbDropdownToggle><fa-icon [icon]="faUser"></fa-icon>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                    <a  href="#" class="dropdown-item">
                                        <fa-icon [icon]="faUser"></fa-icon>&nbsp; Profile    
                                    </a>
                                    <a  href="#" class="dropdown-item">
                                        <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp; Envelope    
                                    </a>
                                    <a  href="#" class="dropdown-item">
                                        <fa-icon [icon]="faCog"></fa-icon>&nbsp; Setting    
                                    </a>
                                    <a  href="#" class="dropdown-item">
                                        <fa-icon [icon]="faLock"></fa-icon>&nbsp; Log out    
                                    </a>
                            </div>
                        </form>
                    </div>
                </nav>
        </div>

        <div class="content-container">
            <div class="main-content">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Home</a>
                    <a class="breadcrumb-item" href="#">Dashboard</a>
                    <span class="breadcrumb-item active"></span>
                </nav>
                <router-outlet></router-outlet>
            </div>            
        </div>
    </div>
    
</section> 
