.header-container {
    height: 10%;
    width: 100%;
    /* position: relative; */
}

.content-container {
    height: 90%;
    width: 100%;
    
}

.main-content {
    padding: 2% 2% 2% 2%;
    height:100% ;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background: white;
}

.main-content::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);     
}

