/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

httml, body {
    height: 100%;
    width: 100%;
    
}


.wrapper {
    width: 100%;
    height: 100%;
}

.main-content {
    float: right;
    width: 80%;
    height: 100%;
}

.sidebar {
    float: left;
    background: #1a2580;
    color: #fff;
    position: relative;
    width: 20%;
    height: 100%;
    /* z-index: 9999; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.sidebar-hidden {
    margin-left: 0%;
    display: none;
}