/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

httml {
    height: 100% ;     
    /* width: 100% ; */
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.wrapper {
    width: 100%;
    height: 100%;

}

.main-container {
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
}

.sidebar {
    float: left;
    background: #1a2580;
    color: #fff;
    position: relative;
    width: 20%;
    height: 100%;
 
   
}


.sidebar-hidden {
    margin-left: 0%;
    display: none;
}

.main-container-all {
    width: 100% !important;
    height: 100% !important;
}

ul {
    /* font-size: 18px; */
    line-height: 3;
    font-weight: 400;
    padding-top: 5%;
    list-style: none;
}